@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-item {
    @apply flex cursor-pointer items-center gap-2 px-8 py-6 hover:bg-emerald-400 group-hover:bg-emerald-400 group-hover:text-emerald-950;
  }

  .navbar-submenu-item {
    @apply flex cursor-pointer items-center gap-2 px-4 py-2 hover:bg-emerald-300 hover:text-emerald-950;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: "Rubik", sans-serif; */
  /* line-height: 1; */
  outline: none;
  color: rgb(6 78 59);
  /* color: white; */
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
